@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;800&family=Frank+Ruhl+Libre:wght@300;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,600&display=swap');
/* font-family: 'Baloo 2', cursive;
font-family: 'Frank Ruhl Libre', serif;
font-family: 'Poppins', sans-serif; */
*{
    text-decoration: none !important;
    text-transform: none !important;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.hero{
   
    width: 100%;
    background-color: #ebebeb !important ;
    background-size: cover;
    background-position: center;
}
/*---------navbar start----------------*/
.navbar{
    background-color: #ebebeb  !important;
  }
  .offcanvas{
    background-color: #ebebeb !important;
    color: #000000 !important;
  }
  .navbar-brand{
      color: #00B1D2!important;
      font-size: 25px;

  }
  .navbar-brand span{
      color: #000000 !important;
  }
  .navbar-toggler{
    
    width: 20px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
  }
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
  
  }
  .navbar-toggler span{
    margin: 0;
    padding: 0;
  
  }
  .toggler-icon{
    width: 100%;
    height: 3px;
    background-color: #000000 !important;
    margin-right: 40px !important;
    display: block;
    position: absolute;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .middle-bar{
    margin-top: 0px;
  
  }

  /*when navigation is clicked*/
  .navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg)
  }
  .navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha (opacity=0);
  }
  .navbar-toggler .bottom-bar{
   margin-top: 0px;
   transform: rotate(-135deg);
  }
  
  /*state when navbar is collapsed*/
  .navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
  }
  .navbar-toggler.collapsed .middle-bar{
  opacity: 1;
  filter: alpha (opacity=100);
  }
  .navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
  }
  /*---------navbar ends----------------*/
  .nav-link{
    margin-left: 20px !important;
    color: #000000 !important;
    font-size: 16px !important;
  }
  .nav-link:hover{
    color: #00B1D2 !important;
  }
.btn{
    background-color: #FEF826;
    color: #ebebeb;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transform:  4s;
    font-weight: bold;
   
}
.btn:hover{
   background: transparent;
   color: black!important;
   border: 1px solid #fff719;

}
.content h1{
    color: #00B1D2 !important;
   
    font-size: 50px !important;
    
    
}
.content h3{
    color: #000000;
    font-size: 25px;
   margin-bottom: 10px;
    
}
.content h4{
    color: #000000;
    
}
.newsletter form{
  margin-top: 30px;
    width: 400px;
    max-width: 100%;
    position: relative;

}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid#00B1D2;
    outline: none;
    border-radius: 10px;
}
.newsletter form input:last-child{
    padding: 10px;
    display: inline-block;
    outline: none;
    border: none;
    position: absolute;
    border-radius: 10px;
    background-color: #00B1D2;
    /* #25271A; */
    color: #ffffff;
    font-weight:600;
    top: 6px;
    right: 6px;
}
.social-links{
    margin-top: 20px;
    justify-content:center;
  
    
    
}
.social-links .instagram, .facebook, .linkeldn, .twitter, .github, .whatsapp{
    color: #000000 !important;
    font-size: 18px !important;
    height: 10px;
    width: 10px;
    border-radius: 10px !important;
}

 .cards{
  margin-top: 20px;
  background: transparent;
  height: 350px;
  height: 350px;
  width: 100%;
  padding: 40px !important;
  border-radius: 20px !important;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }
.cards h5{
  color: #000000 ;
}
.cards .icon{
 width: 50px;
 height: 50px;
 margin-bottom: 20px;

  
}

meter {  
   
  width: 100%;
  height: 1rem;
}
meter::-webkit-meter-optimum-value {
  background:#00B1D2!important; /* Green */
  width: 100%;
}
#card1 {
  border-radius: 10px;
  background-color: #F4F9FB !important;
  border: none;
}
#card2 {

  border-radius: 10px;
  background-color: #F4F9FB !important;
  border: none;
}

.about h1{
  font-size: 40px !important;
  color: #000000 !important;
}
#about p{
 
  line-height: 30px !important;
 
}
.progress-bar {  
  width: 100%;
  height: 1rem;
}
.progress-bar::-webkit-meter-optimum-value {
  background-color: #00B1D2 !important;
  border-radius: 50px !important;
}
.form-area{
  padding-top: 5%;

}
.row.single-form{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.left{
  background-color: #00B1D2;
  padding: 200px 93px;
}
.left h2{
 font-weight: 100;
color: #ffffff;
}
.left h2 span{
  color: #ffffff;
  font-weight: 700;
  font-size: 48px !important;
 
}
.right{
  padding: 70px 100px;
  position: relative;

}
.right i{
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #ffffff;
}
.form-control{
  border: 1px solid #000000;

}
.right button{
  border: none;
  border-radius: 0;
  background: #00B1D2;
  width: 180px;
  color: #ffffff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 10px;
  text-align: left;
  font-weight: 600;
}
.success {
  color: green;
  font-size: 10px;
  text-align: left;
  font-weight: 600;
}
.contacts small {
  position: absolute;
  bottom: 0;
  top: 60%;
  left: 0;
  margin-top: 2rem;
  visibility: hidden;
}
.contacts.error input {
  border-color: red;
}

.contacts.error input:focus,
.contacts.success input:focus {
  border: none;
}

#footer{
background-color: #ebebeb;
padding: 50px;
color: #000000;
}
#footer a.brand{
  color: #000000 !important;
  font-size: 25px;
}

#footer p{
  font-size: 15px;
  font-family: poppins;
}
#footer .social-icons .icons {
  color: #00B1D2!important;
  font-size: 20px;
}
@media (min-width:768px) and (max-width:991px) {
  .right i{
    top: -52px;
    transform: rotate(90deg);
    left: 50%;
  }
  
}
@media (max-width:767px) {
  .left{
    padding: 90px 15px;
    text-align: center;
  }
  .left h2{
    font-size: 25px;

  }
  .right{
    padding: 25px;
  }
  .right i{
    top: -52px;
    transform: rotate(90deg);
    left: 45%;
  }
  .right button{
    width: 150px;
    padding: 12px 0;
  }
}
